.login-container{
  display: flex;
  /* align-items: center; */
  min-height: 100vh;
}

.login-left {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background: radial-gradient(circle, rgba(116, 251, 63, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.login-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.auth-tabs {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.tab {
  background: none;
  border: none;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  color: #888;
  position: relative;
}

.tab.active {
  color: #000;
  font-weight: 600;
}

.tab.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #000;
}

input {
  padding: 10px 12px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

input::placeholder {
  color: #aaa;
}

input:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 0 1px #6c63ff22;
}
.login-btn{
  background-color: rgb(19 236 91);
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    font-weight: bold;
    margin-top:10px;
}

.login-form{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-form{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height:350px;
  overflow-y:scroll;
  scrollbar-width: none;
}

.password-section {
  margin-bottom: 20px;
}

.criteria {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
    position: absolute;
    bottom: 34%;
    background: white;
    padding: 20px;
    border: 1px solid #8ae58a;
    border-radius: 6px;
}

.criteria li {
  font-size: 13px;
  margin-bottom: 6px;
  padding-left: 20px;
  position: relative;
}

.criteria li::before {
  content: "✖";
  position: absolute;
  left: 0;
  color: #dc2626;
}

.criteria li.valid {
  color: #16a34a;
}

.criteria li.valid::before {
  content: "✔";
  color: #16a34a;
}

.criteria li.invalid {
  color: #dc2626;
}
